*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    height: auto;
    background-color: rgb(14, 13, 13);
}  



.container{
    width: 70%;
    height: auto;
     background-color: rgb(18,20,24);
     border: 25px solid rgb(0,195,154);
    margin-left: 150px;
    margin-top: 25px;
    }

.header{
    width: auto;
    height: 80px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* background-color: rgb(0, 234, 255); */
    padding-top: 10px;
    margin-top: 30px;
}
.green{
    width: 15%;
    height: 80px;
    display: flex;
    /* align-items: start; */
    flex-direction: column;
    margin-left: 10px;

} 

.green button{
    width: 80px;
    height: 18px;
     background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
    .green .btn{ 
    width: 180px;
    height:25px;
    background-color: rgb(40, 36, 36);
    margin-top: 10px;
    font-size: 15px;
    /* border: 1px solid black; */
    color: rgb(6, 134, 6);
}  
.green .btn i{
    font-size: 16px;
    color: white;
    padding-left: 3px;
}

.nav{
    width: 450px;
    height: 30px;
    display: flex;
    align-items: center;
    /* background-color: brown; */
    justify-content: space-between;
    color: rgb(26, 9, 22);
    margin-left: 150px;
}
.nav ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul li{
    font-size: 16px;

}
.nav ul li a{
    text-decoration: none;
    padding: 10px;
    color: white;
}

.last{
    width: 220px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: brown; */
    }

.last a{
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
    color: white;
}
  .last .nxt{
    width:130px;
    height: 30px;
    color: green;
    font-size: 5px;
    background-color: transparent;
    border: none;
    padding-right: 10px;
}
.last .nxt a{
    color: green;
}

.hero-section{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-inline: 200px;
    /* background-color: blue; */
    padding-block: 60px;
}  
.hero-section h1{
    font-size: 35px;
    padding-bottom: 0px;
    color: white;
    margin-top: 30px;
}
.hero-section p{
    padding-top: 30px;
    font-size: 18px;
    color: white; 
    text-align: center;
    line-height: 1.2;
}

.last-section{
    width: 100%;
    height: 300px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-inline: 50px;

    }

    .first-section{
        width: 300px;
        height: 230px;
        /* background-color: rgb(42, 165, 48); */
     }

      .first-section .pin-btn{
        width: 300px;
        height: 60px;
        background-color: rgb(53, 46, 46);
        padding-right: 30px;
        margin: 10px;
        color: white;
        font-size: 16px;
        text-align: start;
        padding-left: 10px;
       }

        .round-btn{
        width: 300px;
        height: 60px;
        background-color: rgb(53, 46, 46);
        padding: 0px;
        margin: 10px;
        color: white;
        font-size: 16px;
        text-align: start;
        padding-left: 10px;
        
        
       }
    
       .round-btn i{
        padding-left: 100px;
        margin-left: 90px;

       } 

        .lg-btn{
        width: 300px;
        height: 60px;
        /* background-color:rgb(194, 194, 38); */
       /* background-color:linear-gradient(0deg, rgba(23,164,87,1) 0%, rgba(230,231,48,1) 100%);  */
        /* background: rgb(23,164,87); */
        background: linear-gradient(90deg, rgba(22,195,12,1) 0%, rgba(230,231,29,1) 50%);
        padding: 5px;
        margin: 10px;
        font-size: 16px;
        text-align: start;
        padding-left: 10px;
       }
       
       .first-section button i{
        padding-left: 35px;
        font-size: 14px;
       }



.mid-section{

    width: auto;
    height: auto;
}
.mid-section i{
    color: aliceblue;
    font-size: 30px;
}



         .second-section{
            width: 300px;
            height: 230px;
            /* background-color: rgb(42, 147, 165); */
           
         }
         .second-section button{
         width: 300px;
        height: 60px;
        /* background-color:rgb(194, 194, 38); */
        margin: 10px;
        font-size: 16px;
         border: 5px solid  linear-gradient(0deg, rgba(23,164,87,1) 0%, rgba(230,231,48,1) 100%); 
         background-color: transparent;
         /* border-width: 1px; */
         /* border-style: solid; */
         /* border-image:linear-gradient(to right, rgb(0,194,153),rgb(174,202,122)); */
     }
         .second-section button a{
            text-decoration: none;
            text-align: start;
            font-size: 14px;
            padding-right: 100px;
            color: white;
            
        
         } 
         .second-section button a i{
            font-size: 16px;
            text-align: start;
            padding-right: 15px;
            
         }
         .second-section .apl{
            width: 300px;
           height: 60px;
           background-color:rgb(194, 194, 38);
            margin: 10px;
           font-size: 16px;
           background-color: transparent;
            }




         .second-section .apl a{
            text-decoration: none;
            text-align: start;
            font-size: 16px;
            padding-right: 70px;
            border: 1px solid  linear-gradient(0deg, rgba(23,164,87,1) 0%, rgba(230,231,48,1) 100%); 
            } 
         .second-section .apl i{
            padding-right: 15px;
            padding-left: 10px;
       }
       .pswd{
        width: 100%;
        height: 50px;
        /* background-color: blue; */
        text-align: center;
        padding-top: 20px;
       }
       .pswd a{
        font-size: 18px;
        color: white;
        text-align: center;
       }
       .footer{
        width: 100%;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding-inline: 38px;
        padding-top: 70px;
        color: white;
        /* background-color: aquamarine; */
       }
       .footer a{
        text-decoration: none;
        color: white;
        font-size: 18px;
       }

/* ------------------------------------------ */



       @media(max-width:768px){
        
        
        .container{
            width: 100%;
            height: auto;
            margin-left: 0px;

        }
        .header{
            width: 100%;
            height: 70px;
        }
         .nav{
            display: none;
         }

         .green{
            width: 15%;
            height: 60px;
            display: flex;
            /* align-items: start; */
            flex-direction: column;
            margin-left: 10px;
        
        } 
        
        .green button{
            width: 60px;
            height: 15px;
            font-size: 16px;
            margin-bottom: 5px=;
         }
            .green .btn{ 
            width: 120px;
            height:18px;
            margin-top: 0px;
            font-size: 12px;
            } 

        .green .btn i{
            font-size: 12px;
        }

        .last{
            width: 100px;
            height: 60px;
            margin-right: 10px;
            padding-bottom: 30px;
        }
            
        .last a{
            margin-left: 50px;
            font-size: 15px;
           }
          .last .nxt{
          display: none;
          }
        
        .hero-section{
            width: 100%;
            height: auto;
            padding-inline: 0px;
            padding-block: 0px;
        }
        .hero-section h1{
            font-size: 30px;
            padding-left: 0px;
            padding-right: 0px;
            margin-top: 60px;
        }

        .last-section{
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

              .mid-section{
            display: none;
                 }

.first-section{
    margin-bottom: 50px;
}
.footer{
    margin-bottom: 20px;
}

}